.contents-Dairy{
    margin-top: 0px;
  
    margin-bottom: 100px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;

}
.item-content{
    height: 350px;
    width: 200px;
    background-color:#fff;
    padding:10px 20px 100px 20px;
  box-shadow: 0em 0.95em 1.1em rgba(0,0,0,0.3);
  margin-top: 40px;

    

}
.item-content img{
margin-left: 3em;
height: 200px;
width: 100px;



}
.item-company{
 font-size: 20px;
 margin-top: 10px;
 font-weight: 700;
 margin-left: 34px;
 


}
.item-name{
    margin-top: 10px;
    letter-spacing: 1.5px;
    margin-left: 34px;
    font-weight: 500;
  
    

}
.reating-item{
    margin-left: 34px;
    margin-top: 10px;

}
.item-price{
  margin-left: -10px;
  font-size: 15px;
  margin-top: 10px;
}
.discount-price{
margin-left: 2px;
font-weight: 700;
}
.c-price{
margin-left: 4px;
color: red;
text-decoration: line-through;
}
.price-Offer{
margin-left: 4px;
color: rgb(147, 245, 0);
}
.button button{
display: block;
margin-top: 17px;
}
.add-button{
width: 100%;
z-index: 1;
height:30px;
border: none;
background-color: rgb(50, 173, 50);
font-size: 15px;
font-weight: 700;
color: #fff;
cursor: pointer;
border-radius: 5%;

}

.order-button{
    width: 100%;
z-index: 1;
height:30px;
border: none;
background-color: rgb(255, 52, 52);
font-size: 15px;
font-weight: 700;
color: #fff;
cursor: pointer;
border-radius: 5%;


}
#contentsH{
     margin-top: 80px;
     margin-left: 40px;
  
}
button a{
   text-decoration: none;
   color: #fff;
}
